<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="Access-Control-Allow-Origin" content="*" />
  <link type="text/css" rel="stylesheet" href="style.css" />

  <script src="script.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />

  <title>初心战队文本生成器</title>
</head>

<body>
  <div id="app">
    <div class="header">
      <h2>初心战队文本生成器</h2>
    </div>
    <div class="formdiv">
      <el-form ref="form" :model="form" label-width="80px">
        <div class="demo-input-suffix">
          <div class="formp">反馈时间：</div>
          <template>
            <div class="block">
              <el-date-picker v-model="form.fktime" type="date" placeholder="选择日期" value-format="yyyy年MM月dd日">
              </el-date-picker>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">疑似违规YY号：</div>
          <template>
            <div class="block">
              <!-- <el-input placeholder="请输入疑似违规YY号" v-model="form.yynumber" clearable>
              </el-input> -->
              <el-input placeholder="请输入疑似违规YY号" v-model="form.yynumber" clearable @blur="searchpd">
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">其余YY号：</div>
          <template>
            <div class="block">
              <el-input placeholder="请输入其余YY号" v-model="form.otheryynumber" clearable>
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">疑似违规频道号：</div>
          <template>
            <div class="block">
              <el-input placeholder="请输入疑似违规频道号" v-model="form.pdnumber" clearable>
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">疑似违规描述：</div>
          <template>
            <div class="block">
              <el-input type="textarea" :autosize="{ minRows: 2}" placeholder="请输入疑似违规描述" v-model="form.wgms">
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">反馈人YY号：</div>
          <template>
            <div class="block">
              <el-select v-model="form.fkyynumber" filterable placeholder="请选择反馈人YY号" clearable @change="changeOption">
                <el-option v-for="item in form.userdata" :key="item.id" :label="item.number" :value="item.number">
                </el-option>
              </el-select>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">反馈人信息：</div>
          <template>
            <div class="block">
              <el-select v-model="form.fkyyvalue" filterable placeholder="请选择反馈人信息" clearable @change="changeOption2">
                <el-option v-for="item in form.userdata" :key="item.id" :label="item.name" :value="item.name">
                </el-option>
              </el-select>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">官方昵称：</div>
          <template>
            <div class="block">
              <el-input placeholder="请输入官方昵称" v-model="form.gfname" clearable>
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">官方处理结果：</div>
          <template>
            <div class="block">
              <el-input placeholder="请输入官方处理结果" v-model="form.gfcljg" clearable>
              </el-input>
            </div>
          </template>
        </div>
        <div class="demo-input-suffix">
          <div class="formp">疑问点：</div>
          <template>
            <div class="block">
              <el-input type="textarea" :autosize="{ minRows: 2}" placeholder="请输入疑问点" v-model="form.ywd">
              </el-input>
            </div>
          </template>
        </div>
        <div>
          <el-button type="primary" @click="onSubmit">立即生成</el-button>
        </div>
        <div class="wbmain">
          <div class="fkwbdiv">
            <div class="copy1">
              <el-button type="primary" @click="copy1">复制</el-button>
            </div>
            <p class="fkwbp">反馈文本</p>
            <template>
              <div class="block">
                <el-input id="fkwb" type="textarea" :autosize="{ minRows: 16}" placeholder="" v-model="form.fkwb">
                </el-input>
              </div>
            </template>
          </div>
          <div class="fkwbdiv">
            <div class="copy1">
              <el-button type="primary" @click="copy2">复制</el-button>
            </div>
            <p class="fkwbp">疑问文本</p>
            <template>
              <div class="block">
                <el-input id="fkwb2" type="textarea" :autosize="{ minRows: 16}" placeholder="" v-model="form.fkwb2">
                </el-input>
              </div>
            </template>
          </div>
        </div>
      </el-form>
    </div>
  </div>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script> -->
  <script src="axios.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: function () {
        return {
          form: {
            yynumber: "", //疑似违规YY号
            fktime: "", //反馈时间
            otheryynumber: "", //其余YY号
            pdnumber: "", //疑似违规频道号
            wgms: "", //疑似违规描述
            fkyynumber: "", //反馈人YY号
            fkyyvalue: "", //反馈人信息
            userdata: [], //人员
            gfname: "", //官方昵称
            gfcljg: "不处理", //处理结果
            ywd: "", //疑问点
            fkwb: "", //反馈文本
            fkwb2: "", //疑问反馈文本
          },
        };
      },
      created() {
        this.getjson();
        this.initDate();
      },
      methods: {
        getjson: function () {
          axios
            .get("user.json")
            .then((response) => {
              this.form.userdata = response.data;
              // console.log(this.form.userdata);
            })
            .catch(function (error) {
              console.log(error);
            });
          // console.log(this.form.userdata);
        },
        // searchpd: function () {
        //   axios
        //     .get("https://mobi.yy.com/u/h5/profile/"+this.form.yynumber)
        //     .then((response) => {
        //       let yyuserinfo = response.data
        //       this.form.pdnumber = yyuserinfo.wiki.roomId;
        //       // console.log(response.data);
        //     })
        //     .catch(function (error) {
        //       console.log(error);
        //     });
        // },
        searchpd: function () {
          axios
            .get("https://mobi.yy.com/u/h5/profile/" + this.form.yynumber)
            .then((response) => {
              let yyuserinfo = response.data
              this.form.pdnumber = yyuserinfo.wiki.roomId;
              // console.log(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
        },

        changeOption: function () {
          // console.log(this.form.fkyynumber);
          let fkyynumber_data = this.form.fkyynumber;
          let obj = {};
          obj = this.form.userdata.find((item) => {
            return item.number === fkyynumber_data;
          });
          this.form.fkyyvalue = obj.name;
        },
        changeOption2: function () {
          // console.log(this.form.fkyynumber);
          let fkyyvalue_data = this.form.fkyyvalue;
          let obj = {};
          obj = this.form.userdata.find((item) => {
            return item.name === fkyyvalue_data;
          });
          this.form.fkyynumber = obj.number;
        },
        getCurrentData() {
          return (
            new Date().getFullYear() +
            "年" +
            (new Date().getMonth() + 1) +
            "月" +
            new Date().getDate() +
            "日"
          );
        },
        initDate() {
          // console.log(this.getCurrentData());
          this.form.fktime = this.getCurrentData();
        },
        onSubmit: function () {
          // console.log(this.form);
          let form = this.form;
          if (this.form.yynumber == "") {
            form.yynumber = "无";
          }
          if (this.form.otheryynumber == "") {
            form.otheryynumber = "无";
          }
          if (this.form.pdnumber == "") {
            form.pdnumber = "无";
          }
          this.form.fkwb =
            "反馈时间" +
            "\r\n" +
            form.fktime +
            "\r\n" +
            "疑似违规YY号" +
            "\r\n" +
            form.yynumber +
            "\r\n" +
            "其余YY号" +
            "\r\n" +
            form.otheryynumber +
            "\r\n" +
            "疑似违规频道号" +
            "\r\n" +
            form.pdnumber +
            "\r\n" +
            "疑似违规类型" +
            "\r\n" +
            "直播" +
            "\r\n" +
            "疑似违规描述" +
            "\r\n" +
            form.wgms +
            "\r\n" +
            "反馈人YY号" +
            "\r\n" +
            form.fkyynumber +
            "\r\n" +
            "反馈人信息" +
            "\r\n" +
            form.fkyyvalue;

          this.form.fkwb2 =
            "反馈时间" +
            "\r\n" +
            form.fktime +
            "\r\n" +
            "疑似违规YY号" +
            "\r\n" +
            form.yynumber +
            "\r\n" +
            "其余YY号" +
            "\r\n" +
            form.otheryynumber +
            "\r\n" +
            "疑似违规频道号" +
            "\r\n" +
            form.pdnumber +
            "\r\n" +
            "疑似违规类型" +
            "\r\n" +
            "直播" +
            "\r\n" +
            "疑似违规描述" +
            "\r\n" +
            form.wgms +
            "\r\n" +
            "反馈人YY号" +
            "\r\n" +
            form.fkyynumber +
            "\r\n" +
            "反馈人信息" +
            "\r\n" +
            form.fkyyvalue +
            "\r\n" +
            "官方处理结果" +
            "\r\n" +
            "官方-" +
            form.gfname +
            " " +
            form.gfcljg +
            "\r\n" +
            "疑问点" +
            "\r\n" +
            form.ywd;
        },
        copy1: function () {
          const input = document.getElementById("fkwb");
          input.setAttribute("code", 1);
          input.select();
          document.execCommand("Copy");
        },
        copy2: function () {
          const input = document.getElementById("fkwb2");
          input.setAttribute("code", 1);
          input.select();
          document.execCommand("Copy");
        },
      },
    });
  </script>
</body>

</html>